<div>
    <% if (page.toc && page.toc.length) { %>
        <% let first = false; %>
        <% page.toc.forEach(function(item) { %>
            <% if(item.element=="h2"){ %>
                <% if(first == false){ %>
                    <% first = true; %>
                <% }else{ %>
                   <%- "</details>" %> 
                <% } %>
                <details class="asiderDetails">
                <summary>
                    <a href="#<%= item.id %>">
                        <!-- 防止闪现 -->
                        <div class="asiderH2" style="display: none">
                            <%= item.text%>
                        </div>
                    </a>
                </summary>
            <% }else{ %>
                <a href="#<%= item.id %>">
                    <div class="asiderH3" style="display: none">
                        <%= item.text %>
                    </div>
                </a>
            <% } %>
        <% }) %>
        <!-- 补齐最后一个 -->
        </details>
    <% } %>
</div>