<!DOCTYPE html>
<html lang="<%= theme.language %>">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="<%- theme.iconpath %>">
    <title>
        <%= page.title? page.title :theme.title%>
    </title>
    <!-- 引入firacode字体，给代码块用的 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css">
    <%- css('css/main') %>
    <%- css('css/index') %>
    <%- css('css/post')%>
    <%- css('css/category' )%>
    <%- css('css/aside') %>
    <%- css('css/archive') %>
</head>

<body>
    <!-- 生成导航栏 -->
    <nav>
        <div id="navBoxsLeft">
            <span class="navBox" id="navHome">
                <a href="<%- url_for(theme.menu["home"]) %>" class="navText">
                    <%= theme.prompt["home"] %>
                </a>
            </span>
            <span class="navBox">
                <img id="lightDarkButton" onclick="changeModel()"> 
            </span>
        </div>
        <div id="navBoxsRight">
            <% for(it in theme.menu){ %>
                <% if(it!="home"){ %>
                    <div class="navBox">
                        <a href="<%- url_for(theme.menu[it]) %>" class="navText">
                            <%= theme.prompt[it] %>
                        </a>
                    </div>
                <% } %>
            <% } %> 
        <div>
    </nav>
    <main>
        <!-- 插入主体内容 -->
        <container id="container">
            <%- body %>
        </container>
        <!-- 生成页脚 -->
        <!-- 防止footer闪现 -->
        <footer id="footer" style="display:none">
            <%if(theme.content.footer.display){%>
                <p> <%=`©2025 - ${theme.content.footer.currentYear} by ${theme.author}`%> </p>
                <p> 框架: <a href="https://hexo.io/zh-cn/"> hexo</a> |
                    主题: <a href="https://bwmagician.github.io/2025/06/24/%E5%85%B3%E4%BA%8Ebw%E4%B8%BB%E9%A2%98/">bw</a> </p>
            <% } %>
            <div> <%= theme.content.footer.text1 %> </div>
            <div> <%= theme.content.footer.text2 %> </div>
        </footer>
    </main>
    <%- js('js/main') %>
    <!-- 插入mathjax的cdn，具体配置可以参照https://www.cnblogs.com/wangxin37/p/8185688.html这篇文章 -->
    <%- partial('_partial/mathjax') %>
    <!-- 引入必要的js代码 -->
    <% if(page.__index){%>
        <%- js('js/index') %>
    <% } %>
    <% if(page.__post){ %>
        <%- js('js/aside') %>
        <% if(theme.post.extendContent){ %>
            <%- js('js/post') %>
        <% } %>
    <% } %>
    <% if(page.layout=='categories'){ %>
        <%- js('js/categories'); %>
    <% } %>
</body>

</html>